<!DOCTYPE html>
<html>
<head>
  <title>Json logger</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "json/logger/application", media: "all" %>
  <%= javascript_include_tag "json/logger/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
